Serial/test
Serial/notes.txt
*.o
Serial/out
Serial/primes.mpl
Serial/run
Serial/small_examples
Serial/initial/out
Serial/initial/output.zip
Milestone1/slides.aux
Milestone1/slides.fdb_latexmk
Milestone1/slides.fls
Milestone1/slides.log
Milestone1/slides.nav
Milestone1/slides.out
Milestone1/slides.pdf
Milestone1/slides.snm
Milestone1/slides.toc
Milestone1/slides.bbl
Milestone1/slides.blg
Milestone1/recording.mov
Milestone1/receipt.pdf
Milestone1/final.mp4
Milestone1/fft.png
Milestone1/Milestone1_46977557.zip
Parallel/code.zip
